@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background: #fff;
}

.nav, .banner, .gridd, .carrd {
  display: none;
}

.headerBrand {
  text-decoration: none;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.icon {
  color: #6070ff;
}

.imgdiv {
  position: relative;
  margin: 15px;
  width: 80%;
  height: auto;
}

.shapes {
  position: absolute;
  width: 100%;
}

.title1 {
  max-width: 90%;
  margin-top: 25px;
  padding: 5px;
  margin-right: 40px;
}

.headlineTitle1 {
  width: 90%;
  margin-top: 70px;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headlineText1 {
  width: 90%;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #344563;
}

.connectTitle {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin-top: -10px;
}

.connectt {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
  margin-bottom: 60px;
}

.socialls {
  padding-right: 20px;
  color: #505f79;
  height: 20px;
  width: 17px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 4fr);
  gap: 50px;
  align-items: center;
}

main {
  padding: 24px;
}

.card {
  border: 0.1px solid #d6d6d6;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  max-width: 90%;
  padding-top: 0;
  padding-bottom: 12px;
  margin-bottom: 60px;
  margin-top: 0;
}

.headlineTitle {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
}

.items {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
  align-items: center;
}

.theli {
  margin: 5px;
}

.item1 {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #bbb;
  border-radius: 50%;
}

.item2 {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.item3 {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.headlineText {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
  margin-top: -70px;
}

.lang1 {
  padding: 7px;
  background-color: #ebebff;
  border-radius: 20%;
  color: #6070ff;
  margin: 8px;
}

.lang2 {
  width: 32px;
  height: 16px;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 25px;
  border-radius: 8px;
  background: #c1c7d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang3 {
  width: 80px;
  height: 16px;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 25px;
  border-radius: 8px;
  background: #c1c7d0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

h3 {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.connect {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
}

.connecthead {
  margin-top: -50px;
}

.socials {
  padding: 10px;
  color: #505f79;
  height: 20px;
  width: 17.985200881958008px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  width: 280px;
  align-items: center;
}

.flex {
  display: flex;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.bgCard {
  background-image: url(assets/shapes/contactShapes.png);
  background-size: 100%;
  margin-left: -16px;
  padding-top: 20px;
  width: 357px;
  height: 780px;
  background-color: #6070ff;
  position: relative;
  border-radius: 50px 0 0 0;
  margin-top: 100px;
}

.contactShapes {
  width: 225px;
  height: 656.17px;
  left: 153px;
}

.center {
  text-align: center;
}

.rectangle4 {
  width: 74.7px;
  height: 17.21px;
  position: absolute;
  left: 305px;
  top: 35px;
  transform: rotate(-23.18deg);
  background: #7f8cff;
}

.ellipse3 {
  position: absolute;
  width: 90px;
  height: 89px;
  top: 40px;
  left: 328px;
  background: #fff;
  border-radius: 60%;
  box-shadow: 10px 15px 0 0 red;
  transform: rotate(83.18deg);
}

.ellipse12 {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 153px;
  border-radius: 50px;
  top: 55px;
  background: #7f8cff;
}

.rectangle7 {
  position: absolute;
  width: 76.17px;
  height: 13.63px;
  left: 258.8px;
  top: 640px;
  background: #7f8cff;
  transform: matrix(0.8, 0.6, 0.6, -0.8, 0, 0);
}

.ellipse5 {
  position: absolute;
  width: 31.11px;
  height: 31.11px;
  border-radius: 50px;
  left: 276.74px;
  top: 650px;
  background: #fff;
  transform: rotate(48.94deg);
}

.contactTitle {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-top: 90px;
  letter-spacing: 0;
  margin-bottom: 12px;
}

.contactText {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ebebff;
}

form {
  margin-left: -50px;
}

.card2 {
  background-color: #fff;
  height: 30px;
  width: 270px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  outline: none;
}

.card3 {
  background-color: #fff;
  height: 101px;
  width: 270px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  outline: none;
}

::placeholder {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

input {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
}

.last {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  border: none;
  padding: 16px;
  cursor: pointer;
  background-color: #fff;
  color: #6070ff;
  margin-top: 23px;
  border-radius: 8px;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.last:hover {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  color: #fff;
  background-color: #6070ff;
}

@media (min-width: 768px) {
.header, .imgdiv, .card {
  display: none;
}

.nav {
    position: absolute;
  top: 1px;
  left: 0;
  width: 1124px;
  padding-top: 25px;
  padding-left: 155px;
  padding-right: 154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.nav .logo {
  color: #6070FF;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  line-height: 20px;
}

.nav .navigation {
  position: relative;
  display: flex;
}

.navigation li {
  margin-left: 30px;
  list-style: none;
}

.navigation li a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
}

.banner {
  margin-top: 100px;
  position: relative;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/Headerbgdesktop.png);
  background-size: cover;
  animation: slideInFromTop 1s ease-in;
} 

.banner .content {
  width: 90%;
  text-align: center;
  margin-top: 100px;
}

.banner .content h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091E42;
}
.banner .content p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
 }
.banner .content h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connectTitle {
  margin-left: 103px;
}

.connectt {
  margin-left: 60px;
}

.gridd {
  display: grid;
  grid-template-rows: repeat(4, 4fr);
  gap: 100px;
}

.cardd {
  margin-left: 150px;
  width: 1156px;
  border-radius: 24px;
  color: #fff;
  padding-left: 24px;
  padding-top: 24px;
  background: #fff;
  padding-bottom: 24px;
  border: 1px solid #dfe1e6; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .cardd1 {
    margin-top: -150px;
  }

    .rightItems {
      margin-left: 20px;
    }

  .tonic {
    display: flex;
    justify-content: space-between;
  }

  .headlineTitle {
    width: 496px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091E42;
  }

  .but {
    font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
    display: flex;
    color: #396df2;
    display: flex;
    flex-direction: row;
    border: 1px solid #396df2;
    padding: 16px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    cursor: pointer;
  }

  .but:hover {
    background-color: #396df2;
    font-weight: 700;
    color: #fff;
  }

  .butt {
    font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
    display: flex;
    color: #fff;
    display: flex;
    flex-direction: row;
    border: 1px solid #DFE1E6;
    padding: 16px;
    cursor: pointer;
    background-color: #396df2;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .butt:hover {
    background-color: #fff;
    font-weight: 700;
    color: #396df2;
  }

  .contact {
    display: flex;
    justify-content: space-between;
  }

  .carddlast {
    background-image: url(assets/desktop/contact\ form\ background\ shapes@2x.png);
    background-size: 100%;
    margin-left: -20px;
    padding-top: 24px;
    color: #fff;
    padding-bottom: 24px;
    border: 1px solid #dfe1e6; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1156px;
    background-color: #6070ff;
    position: relative;
    border-radius: 50px 0 0 0;
    margin-top: 100px;
  } 

 .lastt {
    border: none;
    padding: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #6070ff;
    margin-top: 23px;
    border-radius: 8px;
    font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .lastt:hover,
    .lastt:focus {
    background-color: #6070ff;
    color: #fff;
  }

 .flex2 {
    display: flex;
    justify-content: start;
    width: 450px;
    align-items: center;
  }

  .flexx {
    padding-bottom: 20px;
    padding-top: 2px;
    width: 80px;
    height: 70px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .flexx1 {
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}
