@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

/* @media (max-width: 768px) { */
body {
  /* max-width: 375px; */
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 10px;
}

.header-top {
  display: none;
}

.headerBrand {
  text-decoration: none;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.navigation {
  display: none;
}

header .navigation {
  display: none;
}

header .navigate {
  display: none;
}

header .navigate.active {
  width: 100%;
  height: calc(100% - 30px);
  position: fixed;
  top: 30px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  z-index: 1;
}

li {
  text-decoration: none;
  list-style-type: none;
}

header .navigate li {
  margin-left: -110px;
  line-height: 80px;
}

header .navigate ul {
  margin-top: -600px;
}

header .navigate li a {
  color: #111;
  font-size: 1.6em;
}

.hamburger {
  color: #6070ff;
  position: relative;
  width: 20px;
  height: 19px;
  background: url(./assets/Icons/hamm.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.hamburger.active {
  background: url(./assets/Icons/icon2.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.imgdiv {
  position: relative;
  margin: 15px;
  width: 80%;
  height: auto;
}

.shapes {
  position: absolute;
  width: 100%;
}

.title1 {
  max-width: 90%;
  margin-top: 25px;
  padding: 5px;
  margin-right: 40px;
}

.headlineTitle1 {
  width: 90%;
  margin-top: 70px;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headlineText1 {
  width: 90%;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #344563;
}

.connectTitle {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin-top: -10px;
}

.connectt {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
  margin-bottom: 60px;
}

.socialls {
  padding-right: 20px;
  color: #505f79;
  height: 20px;
  width: 17px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 4fr);
  gap: 50px;
  align-items: center;
}

main {
  padding: 24px;
}

.card {
  border: 0.1px solid #d6d6d6;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
}

.show-mobile-card {
  display: block;
}

.show-desktop-card {
  display: none;
}

.bg {
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  display: block;
}

.bg-desktop {
  display: none;
}

.title {
  max-width: 90%;
  padding-top: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

.headlineTitle {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
}

.items {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
  align-items: center;
}

.theli {
  margin: 5px;
}

.item1 {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #bbb;
  border-radius: 50%;
}

.item2 {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.item3 {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.headlineText {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
}

.lang1 {
  padding: 7px;
  background-color: #ebebff;
  border-radius: 20%;
  color: #6070ff;
  margin: 8px;
}

.lang2 {
  width: 32px;
  height: 16px;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 25px;
  border-radius: 8px;
  background: #c1c7d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang3 {
  width: 80px;
  height: 16px;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 25px;
  border-radius: 8px;
  background: #c1c7d0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

h3 {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.connect {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
}

.connecthead {
  /* margin-top: -50px; */
}

.socials {
  padding: 10px;
  color: #505f79;
  height: 20px;
  width: 17.985200881958008px;
}

.languages-box-desktop {
  display: none;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  width: 280px;
  align-items: center;
}

.flex {
  display: flex;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.bgCard {
  background-image: url(assets/shapes/contactShapes.png);
  background-size: cover;
  margin-left: -16px;
  padding-top: 20px;
  width: 357px;
  height: 780px;
  background-color: #6070ff;
  position: relative;
  border-radius: 50px 0 0 0;
  margin-top: 100px;
}

.desktop-bgCard {
  display: none;
}

.last-btn {
  display: flex;
  justify-content: center;
  color: #6070ff;
  margin-left: 30px;
  margin-bottom: 50px;
}

.last-btn .btn-parent {
  width: 50%;
}

.contactShapes {
  width: 225px;
  height: 656.17px;
  left: 153px;
}

.center {
  text-align: center;
}

.rectangle4 {
  width: 74.7px;
  height: 17.21px;
  position: absolute;
  left: 305px;
  top: 35px;
  transform: rotate(-23.18deg);
  background: #7f8cff;
}

.ellipse3 {
  position: absolute;
  width: 90px;
  height: 89px;
  top: 40px;
  left: 328px;
  background: #fff;
  border-radius: 60%;
  box-shadow: 10px 15px 0 0 red;
  transform: rotate(83.18deg);
}

.ellipse12 {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 153px;
  border-radius: 50px;
  top: 55px;
  background: #7f8cff;
}

.rectangle7 {
  position: absolute;
  width: 76.17px;
  height: 13.63px;
  left: 258.8px;
  top: 640px;
  background: #7f8cff;
  transform: matrix(0.8, 0.6, 0.6, -0.8, 0, 0);
}

.ellipse5 {
  position: absolute;
  width: 31.11px;
  height: 31.11px;
  border-radius: 50px;
  left: 276.74px;
  top: 650px;
  background: #fff;
  transform: rotate(48.94deg);
}

.contactTitle {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-top: 90px;
  letter-spacing: 0;
  margin-bottom: 12px;
}

.contactText {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ebebff;
}

form {
  margin-left: -50px;
}

.card2 {
  background-color: #fff;
  height: 30px;
  width: 270px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  outline: none;
}

.card3 {
  background-color: #fff;
  height: 101px;
  width: 270px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  outline: none;
}

::placeholder {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

input {
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
}

.last {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  border: none;
  padding: 16px;
  cursor: pointer;
  background-color: #fff;
  color: #6070ff;
  margin-top: 23px;
  border-radius: 8px;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.last:hover {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  color: #fff;
  background-color: #6070ff;
}

.desktop-btn {
  display: none;
}

/* } */
@media (min-width: 768px) {
  .parent {
    width: 90%;
    padding-top: 25px;
    padding-left: 130px;
    padding-right: 130px;
  }

  .header {
    display: none;
  }

  .header-top {
    width: 1220px;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-top .navigation {
    position: relative;
    display: flex;
  }

  .header-top .navigation li {
    list-style: none;
    margin-left: 30px;
  }

  .header-top .navigation li a {
    font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-left: 30px;
    color: #344563;
    text-decoration: none;
  }

  .hamburger {
    display: none;
  }

  .connect {
    text-decoration: none;
  }

  .hero-bg {
    width: 100%;
    height: 310px;
    background-image: url(assets/desktop-images/Headerbg@2x.png);
    background-size: cover;
  }

  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    animation: slideInFromTop 1s ease-in;
  }

  .imgdiv {
    margin: auto;
  }

  .shapes {
    display: none;
  }

  .connectt {
    display: flex;
    justify-content: flex-start;
    margin-left: -40px;
    list-style-type: none;
  }

  .socialls {
    padding-right: 20px;
    color: #505f79;
    height: 20px;
    width: 17px;
  }

  .show-mobile-card {
    display: none;
  }

  .show-desktop-card {
    display: block;
  }

  .ist-card {
    display: block;
  }

  .card-child {
    display: flex;
  }

  .bg {
    display: none;
  }

  .bg-desktop {
    display: block;
    width: 100%;
    height: 100%;
  }

  .card-child-img {
    width: 49%;
  }

  .card-child-content {
    width: 49%;
    margin-left: 40px;
    height: 95%;
  }

  .headlineTitle {
    line-height: 1.8;
  }

  .headlineText {
    line-height: 2.5;
  }

  .lang {
    margin-top: 0;
  }

  .flex1 .bg-desktop {
    width: 30px;
  }

  .flex .bg-desktop {
    width: 60px;
  }

  .languages-box {
    display: none;
    justify-content: flex-start;
  }

  .languages-box-desktop {
    display: flex;
    justify-content: flex-start;
  }

  .languages section .flex {
    display: block;
    width: 12%;
    margin: 10px;
    height: 95px;
    padding: 7px;
  }

  .languages-img {
    top: 0;
    left: 0;
    width: 0.2px;
    height: auto;
  }

  .letusconnect {
    font-size: small;
    padding: 2px;
  }

  .lang1 {
    margin-left: 0;
  }

  .btn-parent {
    width: 25%;
  }

  .last {
    display: none;
  }

  .desktop-btn {
    display: block;
    text-align: center;
    width: 70%;
    border: 0.1px solid #6070ff;
    border-radius: 8px;
    padding: 13px;
    color: #6070ff;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0;
  }

  .desktop-btn:hover {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    color: #fff;
    background-color: #6070ff;
  }

  .bgCard {
    display: none;
  }

  .desktop-bgCard {
    background-image: url(assets/desktop-images/contactformbackgroundshapes@2x.png);
    width: 100%;
    background-color: #6070ff;
    position: relative;
    border-radius: 50px 0 0 0;
    margin-top: 100px;
    display: flex;
    text-align: center;
    height: auto;
  }

  .center {
    width: 50%;
    margin: auto;
  }

  .contact-form {
    display: flex;
    justify-content: center;
  }

  .form-field {
    width: 100%;
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}
